
.box{
    width: 450px;
    height: 495px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    margin: auto;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    position: relative;
    }
